body{
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  background-color:rgb(244, 234, 228) ;
  text-align: center;
}
header{
  width: 100%;
}

header .banner-container{
  height: 60px;
  overflow: hidden;
}
header img{
  width: 100%;
}

header .title-container{
  position: absolute;
  top: 27px;
  background-color: rgb(149,177,75);
  max-width: 400px;
  padding: 8px 30px;
  color: white;
  border-radius: 0 40px 40px 0;
}

header .title-container h1{
  margin: 0;
  text-transform: uppercase;
}

.section-container{
  width: 90%;
  margin: 40px auto;
}
section{
  width: 48%;
  margin:0 4px;
  display: inline-block;
  vertical-align: top;
}
section.information{
  width: 48%;

}
section.menu{
  width: 48%;
}
.information img{
  width: 100%;
/* img width will be 100% of parent element 48% */
}

section.information .opening-times{
  width: 90%;
  border: 6px solid rgb(252, 178, 83);
  box-sizing: border-box;
  margin: 20px auto;

}
.opening-times hr{
  background: rgb(252, 178, 83);
  width: 50%;
  height: 3px;
  border-width: 0;

}

h1, h2{
  text-transform: uppercase;
}

ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.opening-times ul li{
  padding: 5px;
}

section.menu{
  background-color: rgb(246, 246, 246)

}

section.menu hr{
width: 50%;
height: 2px;
background-color: rgb(56, 37, 52);
border-width: 0;
}

section.menu ul{
  padding: 20px;
}

section .special{
  padding: 10px 50px;
}

footer{
  background-color: rgb(211,211,211);
  padding: 10px;
}

.mustard-graphic{
  position: absolute;
  top:200px;

  right: 0;
  background-color: rgb(239,214,174);
  width: 130px;
  height: 60px;
  border-radius: 30px 0 0 30px;
}

.ketchup-graphic{
  background-color: rgb(187, 43, 27);
  position: absolute;
  top: 750px;
  height: 6px;
  border-radius: 0 30px 30px 0;
  padding: 40px;

}


button:hover{
  background-color: green;
  color: white;
  transition-duration: 0.5s;
}
button:active{
  background-color: red;
  border: 2px solid red;
}