body{
  background-image: url(./background.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}

.badger{
  margin-top: 8%;
  background-color: white;
  width: 300px;
  border-radius: 7px;
  box-shadow: 5px 5px 3px 3px grey;
  
}

img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

