body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(135deg, #f0f4ff, #d9e4f5);
}
.avatar-img {
    width: 150px;
    border-radius: 50%;
}

.card {
    width: 400px;
    display: flex;
    margin: auto auto;
    justify-content: space-around;
    padding: 20px;
    text-align: center;
    background: linear-gradient(135deg, #334b77 0%, #5072a2 100%);
    color: white;
    border-bottom: 7px solid #feca57;
}
