html,
body {
    height: 100%;
    font-family: sans-serif;
    font-style: italic;
}
body {
    background-image: url(./images/purple-theme-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #380e4c;
}
.modal-container {
    background-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    width: 400px;
    height: 520px;
}
.modal-container h1{
    text-align: center;
    margin: 0;
    padding: 5px;

}

.footer {
    
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 190px;
}

input {
    width: 95%;
    padding: 10px;
    margin: 7px;
}

.checkbox {
    width: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

button {
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
   background: linear-gradient(135deg, #7b2cbf, #ff7b00);
    color: white;
    border: none;
}
.footer h1{
    margin-top: 0;
}

.close-icon{
    text-align: end;
    padding: 10px;
}